<form class="ui large form segment">
    <h3 class="ui header">Calculate fibonacci number! ;D</h3>
    
    <div class="field">
      <label for="title">Input which fibonacci number you want!:</label>
      <input name="fibonaccinumber" #fibonaccinumber>
    </div>

    <button (click)="calculateFib(fibonaccinumber)"
            class="ui positive right floated button">
          Calculate Fibbonaci
    </button>
</form>

<div *ngIf="currentFib !== ''" class="result">
  <h4>{{ currentFib }}</h4>
</div>